################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/.vs/WebAPI/FileContentIndex
WebAPI/publish/
WebAPI/WebAPI/bin/
WebAPI/WebAPI/obj/
.vs/
bin/
obj/
*.user
*.suo
*.db
*.cache