################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/.vs/WebAPI/FileContentIndex
.vs/
# bin, obj folders
/WebAPI/bin/
/WebAPI/obj/